<a href="https://colab.research.google.com/github/FurkyT/Global_AI_Hub_Projects/blob/main/Global_AI_Hub_Project_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Points List 

*   A : 100 - 85
*   B : 85  - 70
*   C : 70  - 60
*   D : 60  - 45
*   F : 45  - 0

In [31]:
import pandas as pd
import json

In [28]:
# MATH CLASS PASS OR FAIL DATA

grade = dict()
print('Welcome the management system please enter the following information')
i = 0
name =[]
surname =[]
id =[]
point =[]
grd = []
stt = []   
while True:
  
  name.append(input('Name: ')) 
  surname.append(input('Surname: '))  
  id.append(input('Student ID: '))
  point.append(int(input('Exam Points: ')))
  
  grade['Name'] = name
  grade['Surname'] = surname
  grade['Student_ID'] = id
  grade['Points'] = point
  
  if point[i] <=100 and point[i] > 85:
     grd.append('A')
     stt.append('Passed')
  elif point[i] <=85 and point[i] > 70:
     grd.append('B')
     stt.append('Passed')
  elif point[i] <=70 and point[i] > 60:
     grd.append('C')
     stt.append('Passed')
  elif point[i] <=60 and point[i] > 45:
     grd.append('D')
     stt.append('Passed')
  else:
     grd.append('F')
     stt.append('Failed')
     
  grade['Grade'] = grd
  grade['Status'] = stt   
  
  status = input('Are you going to continue to new student:')

  if status == 'Yes':
    i += 1
    continue
  elif status == 'No':
    break

Welcome the management system please enter the following information
Name: aaa
Surname: bbb
Student ID: 798798
Exam Points: 75
Are you going to continue to new student:Yes
Name: ccc
Surname: ddd
Student ID: 54654
Exam Points: 40
Are you going to continue to new student:No

In [39]:
management_df = pd.DataFrame.from_dict(grade)
management_df

  Name Surname Student_ID  Points Grade  Status
0  aaa     bbb     798798      75     B  Passed
1  ccc     ddd      54654      40     F  Failed

In [41]:
management_df.to_excel('management.xlsx')